.showhide {
  padding-inline: 1rem;
  display: flex;
  justify-content: flex-end;
  color: var(--color-dark);

  &.dark {
    color: var(--color-light);
  }

  .button {
    all: unset;
    display: grid;
    grid-template-areas: 'button';
    align-items: center;
    justify-items: end;
    cursor: pointer;

    &:active {
      transform: translate(1px, 1px);
    }

    .show {
      grid-area: button;
      width: max-content;
      overflow: hidden;

      span {
        display: block;
      }
    }
    .hide {
      grid-area: button;
    }
  }
}

