.color {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 1rem;

  &.dark {
    color: var(--color-light);
  }

  .header {
    position: relative;
    padding-block: 1rem;
    cursor: pointer;

    z-index: 2;

    .title {
      font-size: min(2.5rem, 4vw);
      font-weight: 750;
      text-transform: uppercase;
    }
    .description {
      height: 1.2rem;
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }

  @media only screen and (max-width: 767px) {
    justify-content: flex-start;
    padding: 0.5rem 1rem;

    .header {
      padding-block: 0;

      .title {
        font-size: 2.2rem;
      }
    }
  }

  @media only screen and (max-height: 720px) {
    .header .title {
      font-size: 2rem;
    }
  }
}

