.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 'full';
  position: fixed;
  left: 0;
  top: 0;

  .main {
    position: relative;
    grid-area: full;
    z-index: 1;
  }
  .slider {
    position: relative;
    grid-area: full;
    z-index: 2;
    display: grid;
    align-items: start;
    pointer-events: none;
  }
  .nav {
    position: relative;
    grid-area: full;
    z-index: 2;
    display: grid;
    align-items: end;
    pointer-events: none;
  }
}

