.title {
  color: var(--color-dark);
  max-height: 3rem;
  overflow: hidden;

  &.dark {
    color: var(--color-light);
  }

  @media only screen and (min-width: 767px) {
    padding-inline: 1rem;
  }
}

