.controls {
  display: grid;
  align-items: center;
  pointer-events: visible;

  @media only screen and (min-width: 767px) {
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 0 2rem 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 0 1rem 2rem 1rem;
    gap: 1rem;
  }
}

