.textSplitted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 0.3ch;
  position: relative;
  line-height: 1.5em;

  .word {
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;

    .letter {
      display: inline-block;
      height: 1.5em;
      line-height: 1.5em;
      padding-right: 0.05rem;
      margin-right: -0.05rem;
      overflow: hidden;

      span {
        display: inline-block;
        line-height: 1.5em;
        height: 1.5em;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

