.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;

  .stack {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    left: 0;
    display: grid;
    width: 100vw;
    height: 100vh;

    &.names {
      z-index: 2;
    }
    &.colors {
      z-index: 1;
    }
  }

  .palette {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
  }
}

