.grid {
  display: flex;
  width: 100vw;
  height: 100dvh;
  position: absolute;

  .stack {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    left: 0;
    display: grid;
    width: 100vw;
    height: 100dvh;

    &.names {
      z-index: 2;
    }
    &.colors {
      z-index: 1;
    }
  }

  .palette {
    display: grid;
    width: 100vw;
    height: 100dvh;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media only screen and (max-width: 767px) {
      padding-bottom: 7rem;
      grid-template-rows: repeat(5, 1fr);
      //grid-template-rows: 17.5% 17.5% 17.5% 17.5% 30%;
    }
  }
}
