.wrapper {
  display: block;
  width: 100%;
  min-height: 3rem;

  .search {
    display: flex;
    justify-content: center;

    .stack {
      position: relative;
      display: grid;
      grid-template-areas: 'stack';

      width: 100%;

      @media only screen and (min-width: 768px) {
        max-width: 420px;
      }

      .response {
        grid-area: stack;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      .form {
        grid-area: stack;
        position: relative;
        display: grid;
        grid-template-areas: 'input monochromatic';
        grid-template-columns: calc(100% - 2rem) 2rem;
        align-items: center;
        border-radius: 3rem;
        padding: 0.5rem;

        width: 100%;
        z-index: 1;

        //box-shadow: 0 0 1.5rem 0px rgba(0, 0, 0, 0.05);

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;

          width: calc(100% + 0.5rem);
          height: calc(100% + 0.5rem);
          transform: translate(-0.25rem, -0.25rem);

          background-color: var(--color-material);
          backdrop-filter: blur(1rem);
          clip-path: inset(0.25rem round 3rem);

          transition: all var(--transition-duration) var(--transition-easing);
          z-index: -1;
        }

        &:focus-within::before,
        &:has(.searchInput:focus)::before {
          clip-path: inset(0 round 3rem);
        }
      }

      .history {
        grid-area: stack;
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
      }

      .icon path {
        fill: var(--color-icons);
      }
    }
  }

  @media only screen and (max-width: 767px) {
    grid-area: search;
  }
}
